/*
 * Copyright (C) 2005-2017 Christoph Rupp (chris@crupp.de).
 * All Rights Reserved.
 *
 * This program is released under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 * See the file COPYING for License information.
 *
 *
 * This is an example configuration for upscaledb.
 * It's a plain JSON file.
 *
 * WARNING - identifiers are case sensitive!!
 */
{
    /* global configuration settings */
    "global": {
        "port": 8080
    },

    /* list of upscaledb Environments that are served */
    "environments": [
        {
            "url": "/env1.db",
            "path": "./env1.db",
            "flags": "UPS_ENABLE_TRANSACTIONS|UPS_CACHE_UNLIMITED",

            /* If open-exclusive is false and the Environment is created from
             * scratch then the databases listed here are also created
             * automatically. */
            "databases": [
                {
                    "name": 12,
                    "flags": "UPS_ENABLE_DUPLICATE_KEYS"
                },
                {
                    "name": 13,
                    "flags": ""
                }
            ]
        }
    ]
}
